<%- include('comunes/header',{titulo:'Crear Usuario'})%>

<div>
<% var creando = typeof usuario === "undefined" ? true : false;%>

<h1> <%= creando ? 'Crear' : 'Actualizar' %> Usuario</h1>
<p> <%= creando ? 'Crear' : 'Actualizar' %> un usuario.</p>

<form   action="/Usuario/<%= creando ? 'crear' : 'actualizar' %>-usuario/<%= creando ? '' : usuario.id %>"
        method="POST">
    <div>
        <label for="nombre">Nombre</label>
        <input id="nombre"
               value="<%= creando ? '' : usuario.nombre %>"
               name="nombre" type="text">
    </div>

    <div>
        <label for="biografia">Biografía</label>
        <textarea name="biografia"
                  id="biografia"
                  cols="30"
                  rows="3">
            <%= creando ? '' : usuario.biografia %>
        </textarea>
    </div>

    <button type="reset">Limpiar formulario</button>
    <button onclick="validarNombre(event)"><%= creando ? 'Crear' : 'Actualizar' %> Usuario</button>
</form>

<a href="/Usuario/inicio">
    <button>Regresar</button>
</a>

<script>
    function validarNombre(evento) {
        // 0) Obtener el calor del campo
        // 1)Revisar que el campo no esté vació
        // 1)Revisar que el campo tenga al menos 3 caracteres

        const inputNombre = document.getElementById("nombre");

        const nombre = inputNombre.value;

        if (nombre.length < 3){
            event.preventDefault()
            alert('Tu nombre es muy corto')
        }

    }
</script>
</div>
<%- include('comunes/librerias')%>
<%- include('comunes/footer')%>