<%- include('comunes/header',{titulo:'titulo'})%>
<div class="container">
    <% var apellido = 'Dután' %>

    <!-- con el = se visualiza-->
    <h1>Hola <%= nombre %> <%= apellido %>  </h1>

    <form action="">
        <div class="form-group">
            <label for="paises">Paises</label>
            <select class="form-control" name="pais" id="paises">
                <option value="1">Ecuador</option>
                <option value="2">Argentina</option>
                <option value="3">Japon</option>
                <option value="4">Korea</option>
                <option value="5">Francia</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ciudades">Ciudades</label>
            <select class="form-control" name="ciudad" id="ciudades">

            </select>
        </div>
    </form>


    <h1>Lista de Usuarios</h1>
    <p>Crear, Buscar, Eliminar y Actualizar Usuarios. Buscar por nombre o biografía</p>

    <script>
        function holaMundo(evento) {
            console.log(evento)
            evento.preventDefault()
            console.log('Hola mundo')
        }
    </script>
    <script>
        function borrar(evento) {
            console.log(evento)
            const respuesta = confirm('¿Estás seguro?')
            if (!respuesta) {
                evento.preventDefault()
            }
            console.log(respuesta)
        }
    </script>


    <!--<a href="http://www.google.com"-->
    <!--onclick="holaMundo(event)">click</a>-->


    <form action="/Usuario/inicio" method="get">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <label for="busqueda">Busqueda</label>
                    <input class="form-control" id="busqueda" type="text" name="busqueda">
                </div>
            </div>
            <div class="col-sm-3">
                <button type="submit"
                        class="btn btn-outline-info btn-buscar btn-block">Buscar
                </button>

            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-3">
            <a class="quitar-subrayado" href="/Usuario/crear-usuario">
                <button
                        class="btn btn-outline-success btn-espaciado btn-block">Crear Usuario
                </button>
            </a>
        </div>
    </div>

    <% const existeMensaje = typeof mensaje !== "undefined" ? true : false; %>

    <% if(existeMensaje){ %>

    <div class="animated fadeOut alert alert-<%= accion %>" role="alert">
        <p>MENSAJE: <%= mensaje %></p>
    </div>

    <% } %>

    <h2>Arreglo</h2>

    <!-- ul -> unordered list-->
    <!-- ol -> ordered list-->

    <!--<ol>-->
    <!--&lt;!&ndash; li -> list items&ndash;&gt;-->
    <!--<li>a</li>-->
    <!--<li>b</li>-->
    <!--<li>c</li>-->
    <!--</ol>-->

    <!--<ul>-->
    <!--<% //arreglo.forEach((number)=>{           %>-->
    <!--<li><% //= number           %></li>-->
    <!--<% //})           %>-->
    <!--</ul>-->

    <table class="table table-hover animated fadeInUp">
        <caption>Lista de usuarios</caption>
        <!--tr -> table row-->
        <thead>
        <tr>
            <!--th = table header-->
            <th width="20%">Nombre</th>
            <th width="50%">Biografía</th>
            <th width="30%">Acciones</th>
        </tr>
        </thead>

        <% arreglo.forEach ((usuario) => { %>
        <tr>
            <td>
                <%= usuario.nombre %>
            </td>
            <td>
                <%= usuario.biografia %>
            </td>
            <td>
                <form action="/Usuario/borrar/<%= usuario.id %>" method="post">
                    <!--<button type="button">Yo no</button>-->
                    <!--<button>Yo tambien</button>-->
                    <button onclick="borrar(event)" type="submit"
                            class="btn btn-espaciado btn-outline-danger btn-block">Eliminar
                    </button>

                </form>
                <a class="quitar-subrayado" href="/Usuario/actualizar-usuario/<%= usuario.id %>">
                    <button type="button"
                            class="btn btn-espaciado btn-outline-info btn-block">Actualizar
                    </button>
                </a>
            </td>
        </tr>
        <% }) %>

    </table>
</div>

<%- include('comunes/librerias')%>

<script>

    const etiquetaSelectPaises = document
        .getElementById('paises');

    const etiquetaSelectCiudades = document
        .getElementById('ciudades');

    const ciudades = [
        {
            idPais: 1,
            nombre: 'Quito',
            id: 1
        },
        {
            idPais: 2,
            nombre: 'Buenos Aires',
            id: 2
        },
        {
            idPais: 3,
            nombre: 'Tokyo',
            id: 3
        },
        {
            idPais: 4,
            nombre: 'Paris',
            id: 4
        },
        {
            idPais: 5,
            nombre: 'Sidney',
            id: 5
        }
    ]


    etiquetaSelectPaises.onchange = (evento) => {
        const valorActualPais = etiquetaSelectPaises.value;
        etiquetaSelectCiudades.disabled = false;

        const ciudadesFiltradas = ciudades
            .filter(
                (ciudad) => {
                    return ciudad.idPais === +valorActualPais;
                }
            );

        const url = 'http://localhost:3000/Usuario';
        $.get(
            url + '/' + valorActualPais, // URL
            (datos) => {  // Callback
                const arregloCiudades = [datos];
                matarHijos();
                llenarCiudades(arregloCiudades);
            }
        )


    }

    function llenarCiudades(arregloCiudades) {
        arregloCiudades
            .forEach(
                (ciudad) => {
                    const nuevaOption = document.createElement('option');
                    nuevaOption.value = ciudad.id;
                    nuevaOption.innerText = ciudad.nombre;
                    etiquetaSelectCiudades.appendChild(nuevaOption);
                }
            )
    }

    function matarHijos() { //AKA eliminarLasOpciones
        while (etiquetaSelectCiudades.firstChild) {
            etiquetaSelectCiudades.removeChild(etiquetaSelectCiudades.firstChild);
        }
    }


    // Cuando se cambie el valor
    // Tomar el valor actual del select

    // Si yo ya escojo un pais
    // cargo las ciudades de ese pais
    // HTTP -> GET RESTFUL id
    // Ciudades

    // Cargarlas en el select de ciudades

</script>

<%- include('comunes/footer')%>
