<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/animate.css">
    <link rel="stylesheet" href="/css/mis-estilos.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <% var apellido = 'Dután' %>

    <!-- con el = se visualiza-->
    <h1>Hola <%= nombre %> <%= apellido %>  </h1>
    <h1>Lista de Usuarios</h1>
    <p>Crear, Buscar, Eliminar y Actualizar Usuarios. Buscar por nombre o biografía</p>

    <script>
        function holaMundo(evento) {
            console.log(evento)
            evento.preventDefault()
            console.log('Hola mundo')
        }
    </script>
    <script>
        function borrar(evento) {
            console.log(evento)
            const respuesta = confirm('¿Estás seguro?')
            if (!respuesta) {
                evento.preventDefault()
            }
            console.log(respuesta)
        }
    </script>


    <!--<a href="http://www.google.com"-->
    <!--onclick="holaMundo(event)">click</a>-->


    <form action="/Usuario/inicio" method="get">
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <label for="busqueda">Busqueda</label>
                    <input class="form-control" id="busqueda" type="text" name="busqueda">
                </div>
            </div>
            <div class="col-sm-3">
                <button type="submit"
                        class="btn btn-outline-info btn-buscar btn-block">Buscar
                </button>

            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-3">
            <a class="quitar-subrayado" href="/Usuario/crear-usuario">
                <button
                        class="btn btn-outline-success btn-espaciado btn-block">Crear Usuario
                </button>
            </a>
        </div>
    </div>

    <% const existeMensaje = typeof mensaje !== "undefined" ? true : false; %>

    <% if(existeMensaje){ %>

    <div class="animated fadeOut alert alert-<%= accion %>" role="alert">
        <p>MENSAJE: <%= mensaje %></p>
    </div>

    <% } %>

    <h2>Arreglo</h2>

    <!-- ul -> unordered list-->
    <!-- ol -> ordered list-->

    <!--<ol>-->
    <!--&lt;!&ndash; li -> list items&ndash;&gt;-->
    <!--<li>a</li>-->
    <!--<li>b</li>-->
    <!--<li>c</li>-->
    <!--</ol>-->

    <!--<ul>-->
    <!--<% //arreglo.forEach((number)=>{           %>-->
    <!--<li><% //= number           %></li>-->
    <!--<% //})           %>-->
    <!--</ul>-->

    <table class="table table-hover animated fadeInUp">
        <caption>Lista de usuarios</caption>
        <!--tr -> table row-->
        <thead>
        <tr>
            <!--th = table header-->
            <th width="20%">Nombre</th>
            <th width="50%">Biografía</th>
            <th width="30%">Acciones</th>
        </tr>
        </thead>

        <% arreglo2.forEach ((usuario) => { %>
        <tr>
            <td>
                <%= usuario.nombre %>
            </td>
            <td>
                <%= usuario.biografia %>
            </td>
            <td>
                <form action="/Usuario/borrar/<%= usuario.id %>" method="post">
                    <!--<button type="button">Yo no</button>-->
                    <!--<button>Yo tambien</button>-->
                    <button onclick="borrar(event)" type="submit"
                            class="btn btn-espaciado btn-outline-danger btn-block">Eliminar
                    </button>

                </form>
                <a class="quitar-subrayado" href="/Usuario/actualizar-usuario/<%= usuario.id %>">
                    <button type="button"
                            class="btn btn-espaciado btn-outline-info btn-block">Actualizar
                    </button>
                </a>
            </td>
        </tr>
        <% }) %>

    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>